<!-- attack_tree_app/templates/attack_tree_app/base.html -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Attack Tree</title>
    <link rel="stylesheet" href="{% static 'attack_tree_app/style.css' %}" />
    <!-- Include any other CSS files or JS libraries here -->
  </head>
  <body>
    {% block content %} {% endblock %}
    <script src="{% static 'attack_tree_app/script.js' %}"></script>
    <!-- Include any other JS files here -->
  </body>
</html>
